<nav class="navbar">
    <div class="navbar-left">
      <img src="assets/logo.jpg" alt="Logo" class="logo" />
      <span class="brand-text">Ignite Invest</span>
    </div>
  
    <div class="navbar-center">
      <a routerLink="/home" class="nav-link" routerLink="/home">Home</a>
      <a routerLink="/about" class="nav-link">About</a>
      <a routerLink="/services" class="nav-link">Services</a>
      <a routerLink="/contact" class="nav-link">Contact</a>
    </div>
  
    <div class="navbar-right">
      <button class="btn login-btn" routerLink="/login">Login</button>
      <button class="btn signup-btn" routerLink="/signup">Signup</button>
    </div>
  </nav>
  